      body {
          font-family: Arial, sans-serif;
          background-image: url(h.jpg);
          background-size: cover;
          backgroung-repeat: no-repeat;
      }
      @Keyframes slide{
          0%{
              transform: translateY(-500px);
              opacity: 0;
              ;
        }
        100%{
            transform: translateY(60px);
            opacity: 1;
        }
    }
      .container1 {
          max-width: 100%;
          min-height: 700px;
          text-align: right;
          padding: 30px;

          display: flex;
          align-items: flex-start;
          justify-content: space-between;
      }
      h1 {
          color: #00ff00;
          margin-bottom: 20px;
      }
#t5{
    color : rgb(0, 110, 255);
    background-color: whitesmoke;
    max-width:50%;
    padding: 20px;
    margin-left: 10px;
    text-align: center;

}

.T{
    max-width: 25%;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.733);
    text-align: center;

    animation: slide 15s ease infinite;
}
#r1{
    width: 400px;
    height:1300px
    border: 2px solid #ddd;
    padding: 40px;
    margin-left: 90x;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.527);
    text-align: center;
    border-radius: 50px;


}
#t4{
padding: 25px;
margin-left: 100x;
margin-right: 30x;
text-align: center;
opacity: 2;

}
#b2{
    padding: 25px;
    margin-left: 100x;
    margin-right: 100x;
    background-color: rgba(0, 119, 255, 0.938);
    text-align: center;
    position: center;

color: black;
flood-color: black;

}


